* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main*/
body.about-us, body.coutries, body.sports, body.profile, body.forgot-password, body.reset-password, body.home {
    background-color: black;
}
.navbar {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 62vw;
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    align-items: flex-end;
    top: 5%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar a, .navbar p {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar a:hover, .navbar p:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.navbar p.troll {
    cursor: pointer;
}
.navbar-logged-in-top {
    width: 25vw;
    height: auto;
    display: none;
    flex-direction: row;
    position: absolute;
    right: 1%;
    top: 2%;
    margin: 0;
}
.navbar-logged-in-top-user-notif-wrapper {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: auto;
    margin: 0;
    justify-content: flex-end;
}
.navbar-logged-in-top-notification {
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-logged-in-top-user, .navbar-logged-in-top-notification, .navbar-logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-logged-in-top-user:hover, .navbar-logged-in-top-notification:hover, .navbar-logout-button:hover {
    scale: 1.2;
}
.navbar-logged-in-top-wrapper {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: auto;
    margin-top: 10px;
    text-align: right;
}
.navbar-logged-in-top-username, .navbar-logged-in-top-email {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.navbar-logged-in-top-username {
    font-size: 1.2em;
}
.navbar-logged-in-top-email {
    font-size: 1.005em;
}
.navbar-logged-in {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 21%;
    left: 3%;
    text-align: left;
    padding: 0;
}
.navbar-logged-in-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
}
.navbar-logged-in-ypttt {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    position: relative;
    margin-bottom: 120px;
}
.navbar-logged-in-other {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    position: relative;
    margin-bottom: -7px;
}
.dashboard-ico, .home-ico, .add-activ-ico, .progress-ico, .records-ico, .points-ico, .ranking-ico, .challenge-ico {
    cursor: pointer;
    transition-duration: 0.4s;
}
.dashboard-ico:hover, .home-ico:hover, .add-activ-ico:hover, .progress-ico:hover, .records-ico:hover, .points-ico:hover, .ranking-ico:hover, .challenge-ico:hover {
    scale: 1.05;
    background: linear-gradient(90deg, #1D1C2D, #413C8E);
    border-radius: 23px;
}
.logo {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    top: 65%;
    left: 2%;
    width: 7vw;
    height: 32.54vh;
    align-items: center;
}
.instagram-logo, .tiktok-logo {
    margin-right: 0;
    transition-duration: 0.7s;
    margin-top: 0;
    margin-bottom: 0;
}
.instagram-logo:hover, .tiktok-logo:hover {
    scale: 1.2;
}

/*about-us*/

/*actions*/
body.actions {
    background-image: url("../content/actions-page.jpg");
    height: 2160px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.navbar-actions {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 62vw;
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    align-items: flex-end;
    top: 5%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-actions a, .navbar-actions p {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-actions a:hover, .navbar-actions p:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.navbar-actions p.troll {
    cursor: pointer;
}
p.days {
    /*margin-right: 137px;*/
    left: 31%;
}
p.hours {
    /*margin-left: 0;
    margin-right: 176px;*/
    left: 48.75%;
}
p.minutes {
    right: 26.3%;
}
p.days, p.hours, p.minutes {
    margin: 0;
    font-family: 'Leto', sans-serif;
    font-size: 150px;
    color: white;
    font-weight: bolder;
    position: absolute;
    display: flex;
    justify-items: center;
    width: auto;
    height: auto;
    top: 44%;
}

/*add-activity*/
body.add-activity {
    background-image: url("../content/background-ui.jpg");
    background-size: 1920px 1080px;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/*contact*/
body.contact {
    background-image: url("../content/contact-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0
}
.contact-data {
    position: relative;
    color: white;
    top: 53%;
    left: 20%;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.contact-data p {
    margin: 0;
}
.logo-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    top: 44%;
    left: 3%;
    z-index: 0;
    width: 100px;
    height: 300px;
    align-items: center;
}
.leave-us-a-message {
    position: relative;
    top: 27%;
    left: 14.3%;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.7s;
}
.leave-us-a-message:hover {
    scale: 1.1;
}

/*countries*/

/*dashboard*/
body.dashboard {
    background-image: url("../content/home-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
body.dashboard.logged-in {
    background: /*linear-gradient(to right, rgb(2, 2, 68) 25%, transparent 26%),*/ url("../content/background-ui.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-dashboard-logged-out {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 62vw;
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    align-items: flex-end;
    top: 5%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-dashboard-logged-out a, .navbar-dashboard-logged-out p {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-dashboard-logged-out a:hover, .navbar-dashboard-logged-out p:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.navbar-dashboard-logged-out p.troll {
    cursor: pointer;
}
.log-in-register {
    color: #CAB99F;
    position: absolute;
    width: 700px;
    margin: 0;
    text-align: center;
    top: 720px;
    left: 240px;
    padding-bottom: 10px;
    cursor: pointer;
}
.log-in, .register {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #CAB99F;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: transparent;
    transition-duration: 0.7s;
    background-color: transparent;
    color: #CAB99F;
    margin-top: 10px;
    z-index: 2;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.log-in:hover, .register:hover {
    scale: 1.1;
    border-color: #CAB99F;
}
.log-in-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.log-in-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
}
.log-in-modal {
    background-color: transparent;
    background-image: url("../content/ekr-login.png");
    display: flex;
    width: 1335px;
    max-width: 100%;
    height: 760px;
    max-height: 100%;
}
.log-in-close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 18px;
    height: 18px;
    top: 12.5%;
    right: 17%;
    cursor: pointer;
    transition-duration: 0.7s;
}
.log-in-in-modal {
    width: 482px;
    height: 132px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 36%;
    transition-duration: 0.7s;
}
.log-in-modal p{
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    right: 20.2%;
}
.log-in-modal a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition-duration: 1.5s;
}
.log-in-modal a:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.log-in-modal input.email {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 38%;
    left: 20.5%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.log-in-modal input.password {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 38%;
    right: 27.25%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.register-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.register-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
}
.register-modal {
    background-color: transparent;
    background-image: url("../content/ekr-register.png");
    display: flex;
    width: 1335px;
    max-width: 100%;
    height: 760px;
    max-height: 100%;
}
.register-close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 18px;
    height: 18px;
    top: 12.5%;
    right: 17%;
    cursor: pointer;
    transition-duration: 0.7s;
}
.register-in-modal {
    width: 482px;
    height: 132px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 36.5%;
    transition-duration: 0.7s;
}
.register-modal input.email {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 38%;
    left: 20.5%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.register-modal input.password {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 38%;
    right: 27.25%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.register-modal input.username {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 20.5%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.register-modal input.nationalities {
    width: 400px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 27.25%;
    font-size: 30px;
    font-family: 'Poppins' sans-serif;
    color: black;
}
.register-modal p.termsOfServiceText {
    top: 60%;
    left: 19.82%;
    background-color: transparent;
    position: absolute;
    width: 250px;
    height: 50px;
    margin: 0;
    color: white;
    font-size: 20px;
}
.log-in-close:hover, .log-in-in-modal:hover, .register-close:hover, .register-in-moda:hover {
    scale: 1.1;
}
h1.profile, p.profile {
    color: white;
    margin: 20px;
}
span.profile {
    color: white;
}
.profile-container {
    position: absolute;
    top: 35%;
    right: 6.15%;
    height: 250px;
    width: 1000px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    background-color: rgba(2, 2, 68, 0.7);
}

/*forgot-password*/

/*home*/

/*reset-password*/

/*sports*/
