* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: clip;
}
/*main*/
body.about-us, body.sports, body.profile, body.forgot-password, body.reset-password, body.home {
    background-color: black;
}
.navbar {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 65vw;
    font-size: 1.2em;
    font-family: 'Radio Canada', sans-serif;
    align-items: center;
    top: 9%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar a, a.troll {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
a.troll:hover {
    scale: 1.05;
}
.navbar-logged-in-top {
    width: 25vw;
    height: auto;
    display: none;
    flex-direction: row;
    position: absolute;
    right: 1%;
    top: 2%;
    margin: 0;
}
.navbar-logged-in-top-user-notif-wrapper {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: auto;
    margin: 0;
    justify-content: flex-end;
}
.navbar-logged-in-top-notification {
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-logged-in-top-user, .navbar-logged-in-top-notification, .navbar-logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-logged-in-top-user:hover, .navbar-logged-in-top-notification:hover, .navbar-logout-button:hover {
    scale: 1.2;
}
.navbar-logged-in-top:active, .navbar-logged-in-top-notification:active, .navbar-logout-button:active {
    scale: 1;
}
.navbar-logged-in-top-wrapper {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: auto;
    margin-top: 10px;
    text-align: right;
}
.navbar-logged-in-top-username, .navbar-logged-in-top-email {
    color: whitesmoke;
    font-family: 'Radio Canada', sans-serif;
}
.navbar-logged-in-top-username {
    font-size: 1.2em;
}
.navbar-logged-in-top-email {
    font-size: 1.005em;
}
.navbar-logged-in {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 17.5%;
    left: 2.8%;
    text-align: left;
    padding: 0;
}
.navbar-logged-in-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}
.navbar-logged-in-ypttt {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    position: relative;
    margin-bottom: 90px;
}
.navbar-logged-in-other {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    position: relative;

}
.dashboard-ico, .home-ico, .add-activ-ico, .progress-ico, .records-ico, .points-ico, .ranking-ico, .challenge-ico {
    cursor: pointer;
    transition-duration: 0.4s;
}
.dashboard-ico:hover, .home-ico:hover, .add-activ-ico:hover, .progress-ico:hover, .records-ico:hover, .points-ico:hover, .ranking-ico:hover, .challenge-ico:hover {
    scale: 1.05;
    background: linear-gradient(90deg, #1D1C2D, #413C8E);
    border-radius: 23px;
}
.logo {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    top: 65%;
    left: 2%;
    width: 7vw;
    height: 32.54vh;
    align-items: center;
}
.instagram-logo, .tiktok-logo {
    margin-right: 0;
    transition-duration: 0.7s;
    margin-top: 0;
    margin-bottom: 0;
}
.instagram-logo:hover, .tiktok-logo:hover {
    scale: 1.2;
}
.instagram-logo:active, .tiktok-logo:active {
    scale: 1;
}

/*about-us*/

/*actions*/
body.actions {
    background-image: url("../content/actions-page.jpg");
    height: 2160px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.navbar-actions {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 62vw;
    font-size: 1.7em;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bolder;
    align-items: flex-end;
    top: 5%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-actions a, .navbar-actions p {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-actions a:hover, .navbar-actions p:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.navbar-actions p.troll {
    cursor: pointer;
}
p.days {
    /*margin-right: 137px;*/
    left: 31%;
}
p.hours {
    /*margin-left: 0;
    margin-right: 176px;*/
    left: 48.75%;
}
p.minutes {
    right: 26.3%;
}
p.days, p.hours, p.minutes {
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 150px;
    color: white;
    font-weight: bolder;
    position: absolute;
    display: flex;
    justify-items: center;
    width: auto;
    height: auto;
    top: 44%;
}

/*add-activity*/
body.add-activity {
    background-image: url("../content/background-ui.jpg");
    background-size: 1920px 1080px;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* articles */
body.articles {
    background-image: url("../content/Articles\ Background.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    z-index: 0;
}
.article-category {
    position: absolute;
    display: flex;
    flex-direction: row;
    scale: 0.8;
    justify-content: space-between;
    width: 100%;
    top: 23%;
    z-index: 2;
}
.article-button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.7s;
}
.article-button:hover {
    scale: 1.05;
}
.article-button:active {
    scale: 1;
}
@keyframes sportNewsSlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
@keyframes workoutSlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
@keyframes healthSlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
@keyframes historySlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
@keyframes insidesSlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
@keyframes sportExplainedSlide {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 9.75%;
    }
}
.sport-news {
    display: flex;
    min-height: 50vh;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 9.75%;
    margin: 0;
    overflow: hidden;

    animation: sportNewsSlide 1.5s linear forwards running;
}
.workout-advice {
    animation: workoutSlide 1.5s linear forwards running;
}
.health-zone {
    animation: healthSlide 1.5s linear forwards running;
}
.game-history {
    animation: historySlide 1.5s linear forwards running;
}
.game-insides {
    animation: insidesSlide 1.5s linear forwards running;
}
.sport-explained {
    animation: sportExplainedSlide 1.5s linear forwards running;
}
.workout-advice, .health-zone, .game-history, .game-insides, .sport-explained {
    display: none;
    min-height: 50vh;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 9.75%;
    margin: 0;
}
.titles {
    max-width: 541px;
    max-height: 35px;
}

/*contact*/
body.contact {
    background-image: url("../content/contact-us-background.jpg"), linear-gradient(to bottom, #07081A 20%, #15095B);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0
}
.navbar-contact {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 65vw;
    font-size: 1.2em;
    font-family: 'Radio Canada', sans-serif;
    align-items: center;
    top: 9%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-contact a, a.troll {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-contact a:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
a.troll:hover {
    scale: 1.05;
}
.leave-a-message {
    position: absolute;
    bottom: 16%;
    left: 15%;
    display: flex;
    flex-direction: column;
}
.leave-us-a-message {
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.7s;
    margin-top: 1.3em;;
}
.leave-us-a-message:hover {
    scale: 1.1;
}
.leave-us-a-message:active {
    scale: 1;
}
.contact-data {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 14.3%;
    width: 50%;
    justify-content: space-between;
    padding: 0;
}
.address, .phone, .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 23%;
}
#city, #phoneNumber, #contactEmail {
    color: white;
    /* margin-top: 20px; */
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.5em;
    position: absolute;
    top: 130%;
    text-align: center;
}
#noDirect {
    color: white;
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 220%;
}
#contactTitle {
    position: absolute;
    top: 30%;
    left: 13%;
}

/*countries*/
 body.countries {
    background-image: url("../content/background-countries-2.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.jakies-napisy {
    scale: 0.8;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    max-width: 705px;
    position: absolute;
    top: 30%;
    left: 8%;
}
#earthCountries {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;

    animation: earthCountriesIntro 2s linear forwards running;
}
@keyframes earthCountriesIntro {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.countries-counter {
    scale: 0.8;
    display: flex;
    flex-direction: column;
    max-width: 588px;
    max-height: 700px;
    position: absolute;
    right: 12%;
    bottom: 5%;
    gap: 60px;
}
.countries-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#countriesSlideLeft, #countriesSlideRight {
    border: none;
    background: transparent;
    transition-duration: 0.4s;
    max-width: 80px;
    max-height: 80px;
}
#countriesSlideLeft:hover, #countriesSlideRight:hover {
    scale: 1.05;
    cursor: pointer;
}
#countriesSlideLeft:active, #countriesSlideRight:active {
    scale: 1;
}
#countriesNumber {
    color: white;
    font-size: 20em;
    font-weight: bold;
    font-family: 'Radio Canada';
    text-align: center;
}
#currentCountry {
    /* max-width: 276px;
    max-height: 64px; */
    background-image: url("../content/POL-countries.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 276px;
    height: 64px;
    z-index: 2;
}
#currentCountry.slide-left {
    animation: countrySlideLeft 0.7s linear forwards running;
}
#currentCountry.slide-right {
    animation: countrySlideRight 0.7s linear forwards running;
}
@keyframes countrySlideLeft {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes countrySlideRight {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

/*dashboard*/
body.dashboard {
    background-image: url("../content/home-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
body.dashboard.logged-in {
    background: /*linear-gradient(to right, rgb(2, 2, 68) 25%, transparent 26%),*/ url("../content/UI-backgr.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0B0C20;
}
.navbar-dashboard-logged-out {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 62vw;
    font-size: 1.7em;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bolder;
    align-items: flex-end;
    top: 5%;
    right: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-dashboard-logged-out a, .navbar-dashboard-logged-out p {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navbar-dashboard-logged-out a:hover, .navbar-dashboard-logged-out p:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.navbar-dashboard-logged-out p.troll {
    cursor: pointer;
}
.log-in-register {
    color: #CAB99F;
    position: absolute;
    width: 700px;
    margin: 0;
    text-align: center;
    top: 720px;
    left: 240px;
    padding-bottom: 10px;
    cursor: pointer;
}
.log-in, .register {
    font-size: 30px;
    font-family: 'Radio Canada', sans-serif;
    color: #CAB99F;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: transparent;
    transition-duration: 0.7s;
    background-color: transparent;
    color: #CAB99F;
    margin-top: 10px;
    z-index: 2;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.log-in:hover, .register:hover {
    scale: 1.1;
    border-color: #CAB99F;
}
.log-in-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.log-in-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
}
.log-in-modal {
    background-color: transparent;
    background-image: url("../content/Login1.png");
    display: flex;
    width: 1335px;
    max-width: 100%;
    height: 760px;
    max-height: 100%;
}
.log-in-close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 30px;
    height: 30px;
    top: 12.5%;
    right: 17%;
    cursor: pointer;
    transition-duration: 0.7s;
}
.log-in-in-modal {
    width: 534px;
    height: 181px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 36%;
    transition-duration: 0.7s;
}
.log-in-modal p{
    color: white;
    font-family: 'Radio Canada', sans-serif;
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    right: 20.2%;
}
.log-in-modal a {
    color: white;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    transition-duration: 1.5s;
}
.log-in-modal a:hover {
    text-decoration: underline;
    text-decoration-color: #CAB99F;
    scale: 1.2;
}
.log-in-modal input.email {
    width: 550px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 38%;
    left: 20.5%;
    font-size: 1.6em;
    font-family: 'Radio Canada', sans-serif;
    color: black;
}
.log-in-modal input.password {
    width: 550px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 38%;
    right: 20%;
    font-size: 1.6em;
    font-family: 'Radio Canada', sans-serif;
    color: black;
}
#loginText {
    position: absolute;
    width: 602px;
    height: 50px;
    top: 19%;
    left: 35%;
}
#loginEmailText {
    position: absolute;
    left: 20.5%;
    top: 35%;
}
#loginPasswordText {
    position: absolute;
    top: 34.2%;
    left: 50.28%;
}
.register-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.register-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
}
.register-modal {
    background-color: transparent;
    background-image: url("../content/Register1.png");
    display: flex;
    width: 1335px;
    max-width: 100%;
    height: 760px;
    max-height: 100%;
}
.register-close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 30px;
    height: 30px;
    top: 12.5%;
    right: 17%;
    cursor: pointer;
    transition-duration: 0.7s;
}
.register-in-modal {
    width: 534px;
    height: 177px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 54%;
    left: 36.5%;
    transition-duration: 0.7s;
}
.register-modal input.email {
    width: 520px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 38%;
    left: 20.5%;
    font-size: 1.6em;
    font-family: 'Radio Canada', sans-serif;
    color: black;
}
.register-modal input.password {
    width: 520px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 38%;
    right: 20%;
    font-size: 1.6em;
    font-family: 'Radio Canada', sans-serif;
    color: black;
}
.register-modal input.username {
    width: 520px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 20.5%;
    font-size: 1.6em;
    font-family: 'Radio Canada', sans-serif;
    color: black;
}
.register-modal input.nationalities {
    width: 520px;
    height: 50px;
    border-color: transparent;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 1.6em;
    font-family: 'Radio Canada' sans-serif;
    color: black;
}
#registerEmailText {
    position: absolute;
    left: 20.5%;
    top: 36%;
}
#registerPasswordText {
    position: absolute;
    top: 36%;
    left: 52.3%;
}
#registerUsernameText {
    position: absolute;
    left: 20.5%;
    top: 48%;
}
#registerNationalityText {
    position: absolute;
    top: 48%;
    left: 52.3%;
}
.register-modal p.termsOfServiceText {
    top: 60%;
    left: 19.82%;
    background-color: transparent;
    position: absolute;
    width: 250px;
    height: 50px;
    margin: 0;
    color: white;
    font-size: 20px;
}
#registerTextTop {
    position: absolute;
    top: 19%;
    left: 34%;
}
#registerTextBottom {
    position: absolute;
    left: 31%;
    bottom: 18.5%;
}
.log-in-close:hover, .log-in-in-modal:hover, .register-close:hover, .register-in-modal:hover {
    scale: 1.03;
}
h1.profile, p.profile {
    color: white;
    margin: 20px;
}
span.profile {
    color: white;
}
.profile-container {
    position: absolute;
    top: 40%;
    right: 6.15%;
    height: 250px;
    width: 1000px;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 45px;
    background-color: rgba(2, 2, 68, 0.7);
}
.streak-container {
    width: 584px;
    height: 65px;
    position: absolute;
    top: 36.9%;
    left: 26%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../content/training_streak.png");
    margin: 0;

    animation: streakContainerSlideLeft 1s linear;
}
@keyframes streakContainerSlideLeft {
    0% {
        left: 50%;
        opacity: 0.2;
    }
    50% {
        left: 35%;
        opacity: 0.7;
    }
    100% {
        left: 26%;
        opacity: 1;
    }
}
span.streak-counter {
    color: white;
    position: absolute;
    left: 37%;
    margin: 0;
    font-size: 2.3em;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0px 10px;
    font-family: "Radio Canada", sans-serif;
}
#streakButton {
    position: absolute;
    right: 2%;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
#streakInfo {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 38%;
    cursor: pointer;
    transition-duration: 0.4s;
}
#streakButton:hover, #streakInfo:hover {
    scale: 1.05;
}
.believe-in-magic {
    background-image: url("../content/believe_in_the_magic.png");
    width: 584px;
    height: 476px;
    margin: 0;
    position: absolute;
    left: 26%;
    bottom: 2%;
    display: none;

    animation: believeInMagicSlideLeft 1s linear;
}
@keyframes believeInMagicSlideLeft {
    0% {
        left: 50%;
        opacity: 0.5;
    }
    50% {
        left: 35%;
        opacity: 0.7;
    }
    100% {
        left: 26%;
        opacity: 1;
    }
}
.motiv-quote {
    width: 654px;
    height: 234px;
    background-image: url("../content/motivational_quote.png");
    position: absolute;
    top: 36.9%;
    right: 5%;
    display: none;

    animation: motivQuoteSlideLeft 1.05s linear;
}
@keyframes motivQuoteSlideLeft {
    0% {
        right: -15%;
        opacity: 0.5;
    }
    100% {
        right: 5%;
        opacity: 1;
    }
}
#quoteChange {
    background-image: url("../content/quote_change.png");
    width: 60px;
    height: 59px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 4%;
    top: 6.5%;
    transition-duration: 0.4s;
    cursor: pointer;
}
#quoteChange.quote-change-rotate {
    animation: quoteChangeRotate 1s ease running forwards;
}
#quoteChange:hover {
    scale: 1.05;
}
#quoteChange:active {
    scale: 1;
}
@keyframes quoteChangeRotate {
    0% {
    }
    100% {
        transform: rotate(180deg);
    }
}
#randomQuote {
    position: absolute;
    width: 380px;
    height: 150px;
    bottom: 8%;
    right: 20%;
    display: flex;
    flex-direction: column;
}
#quote {
    color: white;
    font-family: 'Radio Canada', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 5%;
}
#quote.quote-slide-down {
    animation: quoteSlideDown 1s linear running ;
}
@keyframes quoteSlideDown {
    0% {
        top: -50%;
        opacity: 0.2;
    }
    33% {
        top: -25%;
        opacity: 0.5;
    }
    66% {
        top: -10%;
        opacity: 0.7;
    }
    100% {
        top: 2%;
        opacity: 1;
    }
}
#person {
    color: white;
    font-family: 'Radio Canada', sans-serif;
    font-size: 15px;
    position: absolute;
    left: 5%;
    bottom: 2%;
}
#person.person-slide-up {
    animation: personSlideUp 1s linear running;
}
@keyframes personSlideUp {
    0% {
        bottom: -50%;
        opacity: 0.5;
    }
    50% {
        bottom: -25%;
        opacity: 0.7;
    }
    100% {
        bottom: 2%;
        opacity: 1;
    }
}
.personal-goals {
    width: 654px;
    height: 304px;
    background-image: url("../content/personalized_goals.png");
    position: absolute;
    bottom: 2%;
    right: 5%;
    margin: 0;
    display: none;

    animation: personalGoalsSlideLeft 1.05s linear;
}
@keyframes personalGoalsSlideLeft {
    0% {
        right: -15%;
        opacity: 0.5;
    }
    100% {
        right: 5%;
        opacity: 1;
    }
}

/*forgot-password*/

/*home*/

/*reset-password*/

/*sports*/

/* test */
#testSubmitBttn {
    width: 100px;
    height: 50px;
    background-color: red
}

#testP {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 30%;
    top: 20%;
    background-image: url("../content/test-p.png");
}